<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="BackendType" value="1"/>
		<add key="ClienteConcreteDAO" value ="DAO.Implementations.SqlServer.ClienteDAO"/>
		<add key="IngresoConcreteDAO" value ="DAO.Implementations.SqlServer.IngresoDAO"/>
		<add key="VehiculoConcreteDAO" value ="DAO.Implementations.SqlServer.VehiculoDAO"/>
		<add key="PagoConcreteDAO" value ="DAO.Implementations.SqlServer.PagoDAO"/>
		<add key="TipoTarifaConcreteDAO" value ="DAO.Implementations.SqlServer.TipoTarifaDAO"/>
		<add key="MetodoPagoConcreteDAO" value ="DAO.Implementations.SqlServer.MetodoPagoDAO"/>
		<add key="FacturaConcreteDAO" value ="DAO.Implementations.SqlServer.FacturaDAO"/>
		<add key="EmpleadoConcreteDAO" value ="DAO.Implementations.SqlServer.EmpleadoDAO"/>
		<add key="RolConcreteDAO" value ="DAO.Implementations.SqlServer.RolDAO"/>
    
		
		
		
		<add key="LanguagePath" value="/I18n/language."/>

		<add key="FolderLogs" value="/Logs/"/>
		<add key="PathLogError" value="error.log"/>
		<add key="PathLogInfo" value="info.log"/>
		<add key="LogLevel" value="2"/>
	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=FACU;Initial Catalog=DBEstacionamiento;Integrated Security=True;Encrypt=False"/>
		<add name="ServicesPP" connectionString="Data Source=FACU;Initial Catalog=ServicesPP;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
